<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Gestão de vinhos</title>
    <style>
    	.inline {
		  display: inline-block;
		}
		
		.margin {
		  margin-right: 10px;
		}
    </style>
</head>
<body>
	<h1 class="inline">Gestão de vinhos</h1>
	<a href="/usuario/novo">Usuário da silva</a>
	<a href="/vinhos/minhalista">Minha lista</a>
	
	<div th:each="vinho: ${vinhos}">
		<a th:href="@{ /vinhos/{id}(id=${vinho.id}) }">
			<img src="" width="50px" height="50px" class="inline margin"/>
		</a>
	    <div class="inline">
	      <h4 th:text="${vinho.nome}"></h4>
		  <h6 th:text="${vinho.vinicola}"></h6>
	    </div>
		
      	:) <span>0</span>
		:( <span>0</span>
	</div>
</body>
</html>